## 4

(1) 根据表 7，构建新老客户活跃程度的特征，并将结果存于“IsActiveStatus”
列。

(2) 根据表 8，构建不同金融资产客户活跃程度的特征，并将结果存于
“IsActiveAssetStage”列。

(3) 根据表 9，构建不同金融资产信用卡持有状态的特征，并将结果存于
“CrCardAssetStage”列。

In [1]:
import pandas as pd

In [2]:
df_long = pd.read_excel('../result/result3.xlsx')

In [3]:
df_long.head(3)

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Status,AssetStage
0,15553251,713,1,52,0,185891.54,1,1,1,46369.57,1,新客户,高资产
1,15553256,619,1,41,8,0.00,3,1,1,79866.73,1,老客户,低资产
2,15553283,603,1,42,8,91611.12,1,0,0,144675.30,1,老客户,中上资产

In [4]:
def IsActiveStatus(g,e):
    if ((g=='新客户') & (e==0)):
        return 0
    if (g=='稳定客户') & (e==0):
        return 1
    if (g=='老客户') & (e==0):
        return 2
    if (g=='新客户') & (e==1):
        return 3
    if (g=='稳定客户') & (e==1):
        return 4
    if (g=='老客户') & (e==1):
        return 5

In [5]:
df_long['IsActiveStatus'] = df_long.apply(lambda x: IsActiveStatus(x['Status'], x['IsActiveMember']), axis=1)

In [6]:
df_long.head(3)

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Status,AssetStage,IsActiveStatus
0,15553251,713,1,52,0,185891.54,1,1,1,46369.57,1,新客户,高资产,3
1,15553256,619,1,41,8,0.00,3,1,1,79866.73,1,老客户,低资产,5
2,15553283,603,1,42,8,91611.12,1,0,0,144675.30,1,老客户,中上资产,2

In [7]:

def IsActiveAssetStage(g,e):
    if ((g=='低资产') & (e==0)):
        return 0
    if (g=='中下资产') & (e==0):
        return 1
    if (g=='中上资产') & (e==0):
        return 2
    if (g=='高资产') & (e==0):
        return 3
    if (g=='低资产') & (e==1):
        return 6
    if (g=='中下资产') & (e==1):
        return 7
    if (g=='中上资产') & (e==1):
        return 8
    if (g=='高资产') & (e==1):
        return 9

In [8]:
df_long['IsActiveAssetStage'] = df_long.apply(lambda x: IsActiveAssetStage(x['AssetStage'], x['IsActiveMember']), axis=1)

In [9]:
df_long.head(3)

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Status,AssetStage,IsActiveStatus,IsActiveAssetStage
0,15553251,713,1,52,0,185891.54,1,1,1,46369.57,1,新客户,高资产,3,9
1,15553256,619,1,41,8,0.00,3,1,1,79866.73,1,老客户,低资产,5,6
2,15553283,603,1,42,8,91611.12,1,0,0,144675.30,1,老客户,中上资产,2,2

In [10]:
def CrCardAssetStage(g,e):
    if ((g=='低资产') & (e==0)):
        return 0
    if (g=='中下资产') & (e==0):
        return 2
    if (g=='中上资产') & (e==0):
        return 5
    if (g=='高资产') & (e==0):
        return 5
    if (g=='低资产') & (e==1):
        return 6
    if (g=='中下资产') & (e==1):
        return 7
    if (g=='中上资产') & (e==1):
        return 9
    if (g=='高资产') & (e==1):
        return 9

In [11]:
df_long['CrCardAssetStage'] = df_long.apply(lambda x: CrCardAssetStage(x['AssetStage'], x['HasCrCard']), axis=1)

In [12]:
df_long.head(3)

,CustomerId,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Status,AssetStage,IsActiveStatus,IsActiveAssetStage,CrCardAssetStage
0,15553251,713,1,52,0,185891.54,1,1,1,46369.57,1,新客户,高资产,3,9,9
1,15553256,619,1,41,8,0.00,3,1,1,79866.73,1,老客户,低资产,5,6,6
2,15553283,603,1,42,8,91611.12,1,0,0,144675.30,1,老客户,中上资产,2,2,5

In [13]:
df_long.to_excel('../result/result4.xlsx', index=False)